h1,h2 {
    text-align: center;
}

p {
    text-align: justify;
}


/*Credit card column */

.column-credit {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}


/*Debit card column */

.column-debit {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Credit care--> see more button*/

.credit-crd-button {
    vertical-align: left;
    display: inline-block;
    border-radius: 2px;
    background-color: #408697;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.credit-crd-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.credit-crd-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.credit-crd-button:hover span {
    padding-right: 25px;
}

.credit-crd-button:hover span:after {
    opacity: 1;
    right: 0;
}


/*Debit card-->see more button*/

.debit-crd-button {
    vertical-align: left;
    display: inline-block;
    border-radius: 2px;
    background-color: #408697;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.debit-crd-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.debit-crd-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.debit-crd-button:hover span {
    padding-right: 25px;
}

.debit-crd-button:hover span:after {
    opacity: 1;
    right: 0;
}
