@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bodybot {
    overflow: hidden;
    background: transparent;
}

#click {
    display: none;
}


/* Chat bot buton*/

label {
    position: fixed;
    right: 38px;
    bottom: 20px;
    height: 89px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

label i {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
}

label i.fas {
    opacity: 0;
    pointer-events: none;
}

#click:checked~label i.fas {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked~label i.fab {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(180deg);
}


/* Chat box background */

.wrapper {
    position: fixed;
    right: 30px;
    bottom: 0px;
    max-width: 400px;
    background: #f6f6f6;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/* clik (need to fix Dinakara 13/5) */

#click:checked~.wrapper {
    opacity: 1;
    bottom: 85px;
    pointer-events: auto;
}

.wrapper .head-text {
    line-height: 60px;
    color: #f6f6f6;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #409687, #52d6f4);
}

.wrapper .chat-box {
    padding: 20px;
    width: 100%;
}

.chat-box .desc-text {
    color: #515365;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;
}

.chat-box form {
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 25px;
    border: 1px solid lightgrey;
}

.chat-box form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.chat-box form .field:last-child {
    margin-bottom: 15px;
}

form .field input,
form .field button,
form .textarea textarea {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus {
    border-color: #fc83bb;
}

form .field input::placeholder,
form .textarea textarea::placeholder {
    color: silver;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder {
    color: lightgrey;
}

.chat-box form .textarea {
    height: 70px;
    width: 100%;
}

.chat-box form .textarea textarea {
    height: 100%;
    border-radius: 50px;
    resize: none;
    padding: 15px 20px;
    font-size: 16px;
}


/* Send button */

.chat-box form .field button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(left, #409687, #52d6f4);
    transition: all 0.3s ease;
}

.chat-box form .field button:active {
    transform: scale(0.97);
}