@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.post,.online,.contact-center,.code,.call-center,.branch,.atm,.location {
    border-radius: 15px 50px 30px;
    background: #8D8C8A;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.column1,.column2,.column3,.column4 {
    float: left;
    width: 25%;
    height:500px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.post:hover,.online:hover,.contact-center:hover,.code:hover,.call-center:hover,.branch:hover,.atm:hover,.location:hover {
    color: #408697;
    border: #408697 solid 1px;
    background:#fff;
}

.img-location {
    height: 100px;
    width: 100px;
}

