@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


div-column {
    float: left;
    padding: 10px;
    height: 2000px;
    display: flex;
    flex-direction: column;
    
}


span { 
    font-size:100px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  h1 {
    text-align: center;
  }

  .column-devide-image {
    float: left;
    width: 50%;
  }

  .column-devide {
    content: "";
    display: table;
    clear: both;
  }

  .for-whome-box {
    width: 100%px;
    border: 5px solid #408697;
  }
