@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*Login button*/

.loginbt {
    padding: 4px 3px;
    text-align: center;
    border: none;
    background: #2196F3;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    color: #f6f6f6;
    cursor: pointer;
    transition: .3s;
}

.loginbt:hover {
    transform: translateY(-5px);
    background: #408697;
}

.loginbt a {
    text-decoration: none;
    color: rgb(234, 228, 228);
}


/* login avatar*/

.avatar {
    align-self: center;
    width: 46px;
    height: 42px;
    border-radius: 50%;
}

section#top {
    background: white;
    /*background: linear-gradient(164deg, #363538 0%, #8d8c8a 52%, #408697 100%);
    color: #270942;
    min-height: 30vh;*/
}

section#bottom {
    background: #363538;
    color: #f6f6f6;
}

#footerlink {
    color: #f6f6f6;
}

.mainnav {
    overflow: hidden;
    background-color: #b9b9b9;
    position: sticky;
    top: 0px;
    bottom: 0px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.mainnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 25px;
}

.mainnav a:hover {
    background-color: rgb(128, 134, 128);
    color: rgb(4, 4, 4);
}

.mainnav a.active {
    background-color: #2196F3;
    color: white;
}

.mainnav .search-container {
    float: right;
}

.mainnav input[type=text] {
    padding: 6px;
    margin-top: 5px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mainnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mainnav .search-container button:hover {
    background: #ccc;
}


/* Slideshow container */

.Slides {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: static;
    margin: auto;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    position: static;
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }*/


/* Styles for footer images*/

.column {
    width: 5%;
    padding: 5px;
}

.srch-icon {
    width: 2px;
    padding: 10px;
}


/* The sidebar menu */

.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/*Mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* The button used to open the sidebar */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(158, 167, 170);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(224, 221, 14);
}

.mainnavi {
    transition: margin-left .5s;
    /* transition effect */
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*Calender*/

.mycalendar-container {
    display: inline-block;
    border: 1px solid #eee;
}

.mycalendar-container.round-edge {
    border-radius: 5%;
    -o-border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.mycalendar-day-container {
    /* day calendar style*/
    padding: 10px;
    text-align: center;
    font-family: Arial;
}

.mycalendar-day-container div {
    padding: 0;
    margin-bottom: 10px;
}

.mycalendar-day-container .mycalendar-span-day {
    font-size: 110%;
}

.mycalendar-day-container .mycalendar-span-date {
    font-size: 250%;
}

.mycalendar-day-container .mycalendar-span-month-year {
    font-size: 90%
}

.mycalendar-month-container {
    /* month calendar style*/
    padding: 10px;
    text-align: center;
    font-family: Arial;
}

.mycalendar-month-container div {
    padding: 0;
    margin-bottom: 10px;
}

.mycalendar-month-container .mycalendar-header {
    position: relative;
}

.mycalendar-month-container .mycalendar-header .mycalendar-prev-next-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.mycalendar-month-container .mycalendar-header .mycalendar-prev-next-btn.prev-btn {
    left: 0;
}

.mycalendar-month-container .mycalendar-header .mycalendar-prev-next-btn.next-btn {
    right: 0;
}

.mycalendar-month-container .mycalendar-span-month-year {
    margin: 5px;
    cursor: pointer;
}

.mycalendar-month-container .mycalendar-body table tr td {
    padding: 5px;
}

.box {
    position: relative;
    z-index: 1000;
}

.container {
    position: relative;
    width: 225px;
    height: 250px;
    background: rgba(7, 7, 7, 0.1);
    box-shadow: 0 25px 45px rgba(3, 3, 3, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mycalendar {
    /*calender containt*/
    width: 500%;
    padding: 40px;
}

#mycalendar table {
    /* daycalendar table */
    width: 100%;
    margin-top: 2px;
    border-spacing: 1px;
}

#mycalendar table tr:nth-child(1) td {
    /* daycalender Days of the week row*/
    background: rgb(113, 110, 110);
    color: #111;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: 600;
}

#mycalendar table td {
    /* daycalender data cells*/
    color: rgb(99, 99, 99);
    padding: 8px;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 4px;
}

#mycalendar table td:hover {
    background: #fff;
    color: #111;
}

.mycalendar-month-container .mycalendar-today-date,
.mycalendar-month-container .mycalendar-target-date {
    /* daycalender today cell*/
    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0) !important;
}

.mycalendar-month-container .mycalendar-header .mycalendar-prev-next-btn.prev-btn {
    /* daycalender previous month button*/
    background: rgb(152, 151, 151);
    color: #111;
    width: 22px;
    height: 19px;
    left: 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.mycalendar-month-container .mycalendar-header .mycalendar-prev-next-btn.next-btn {
    /* daycalender next month button*/
    background: rgb(152, 151, 151);
    color: #111;
    width: 22px;
    height: 19px;
    right: 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.mycalendar-month-container .mycalendar-span-month-year {
    /* daycalender month */
    color: rgb(242, 235, 235) !important;
    font-size: 1em;
    font-weight: 500;
}


/*Registration intro page*/

.registbt {
    display: block;
    width: 10%;
    padding: 10px 20px;
    text-align: center;
    border: none;
    background: #2196F3;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #f6f6f6;
    cursor: pointer;
    transition: .3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.registbt:hover {
    transform: translateY(-5px);
    background: #408697;
}

.registbt a {
    text-decoration: none;
    color: rgb(234, 228, 228);
}

.p a {
    text-decoration: none;
}


/* use profile */

.profile .profile-img {
    height: 200px;
    width: 200p;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.profile .userprofile {
    min-height: 60vh;
    position: static;
    width: 100%;
    background: linear-gradient(to right, #b0e4f0, #f6f6f6, #c8ecf5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.profile .userprofile .proali {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 500px;
}

.profile .userprofile .proali .outputBox {
    width: 49%;
}

.profile .userprofile .proali .outputBox span {
    text-align: left;
    position: static;
    margin-top: 15px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: rgb(47, 57, 55);
}

.profile .userprofile .proali .outputBox .box {
    width: 100%;
    position: static;
    border-radius: 5px;
    background: #e2f1f4;
    padding: 12px 14px;
    font-size: 20px;
    font-family: sans-serif;
    color: #787373;
    margin-top: 10px;
    cursor: none;
}

.profile .userprofile .proali .outputBox .boxnote {
    height: 100px;
    position: static;
    width: 100%;
    border-radius: 5px;
    background-color: #e2f1f4;
    padding: 12px 14px;
    font-size: 20px;
    font-family: sans-serif;
    color: #787373;
    margin-top: 10px;
}


/*footer*/

.bottom {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #585a5bae;
    background: #272727;
    color: #f6f6f6;
}

.bottom .flex {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    gap: 60px;
}

.bottom .flex .inputBox {
    width: 100%;
}

.bottom .flex .inputBox a {
    color: #fff;
    text-decoration: none;
}

.bottom .flex .inputBox span {
    text-align: left;
    cursor: default;
    display: block;
    margin-top: 15px;
    font-size: 15px;
}

.bottom .flex .inputBox .img {
    width: 300px;
    height: 200px;
}

.bottom .flex .inputBox .imgphone {
    width: 50px;
    height: 42px;
    border-radius: 50%;
}

.bottemtext {
    height: 50px;
    width: 100%;
    padding-top: 4px;
    color: #eee;
    background: #363538;
}


/* welcome message */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome p {
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    font-weight: 600px;
    font-style: italic;
    width: 16%;
    background: linear-gradient(to right, #e6edee, #c8cccd, #bbc0c0);
    box-shadow: -8px 7px 20px 5px rgba(184, 186, 186, 0.71);
    color: #377dc0;
    border-radius: 10px;
    cursor: none;
    transition: .3s;
}

.welcome p:hover {
    transform: translateY(-5px);
}