body {
    background: linear-gradient(to right, #408697,#f6f6f6, #52d6f4);
}


.loan-calculator {
    font-family: sans-serif 'Times New Roman', Times, serif;
    width: 600px;
    margin: 24px auto;
    background: #f6f6f6;
    box-shadow: 0px 12px 50px 11px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #363538;
    overflow: hidden;
}

.loan-calculator ,
.loan-calculator * {
    box-sizing: border-box;
}

.loan-calculator .loan-top {
    background: #408697;
    color: #fff;
    padding: 32px;
}

.loan-calculator .loan-top h2 {
    margin-top: 0;
}

.loan-calculator form {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.loan-calculator .loan-title {
    margin-bottom: 16px;
}

.loan-calculator form input {
    font-size: 20px;
    padding: 8px 24px;
    width: 100%;
}

.loan-calculator .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loan-calculator .result .left {
    width: 100%;
    padding: 8px 32px;
    background: #52d6f4;
}

.loan-calculator .left h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.loan-calculator .result .value {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(20, 30, 61, 0.2);
}

.loan-calculator .result .value::before {
    content: "Rs.";
    font-size: 24px;
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.4;
}

.loan-calculator .calculate-btn {
    background: #8d8c8d;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
}

.calculate-btn:hover {
    transform: translateY(-5px);
    background: #408697;
}

@media (max-width: 650px) {
    .loan-calculator {
        width:90%;
        max-width: 500px;
    }

    .loan-calculator form {
        flex-direction: column;
        gap: 20px;
    }

    .loan-calculator .result {
        flex-direction: column;
        text-align: center;
    }
}