.loan-calculator {
    font-family: sans-serif 'Times New Roman', Times, serif;
    width: 600px;
    margin: 24px auto;
    background: #f6f6f6;
    box-shadow: 0px 12px 50px -11px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #363538;
}

.loan-calculator .loan-top {
    background: #408697;
    color: #fff;
    padding: 32px;
}