* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/logb.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    min-height: 400px;
    background: #2b2b2bd5;
    border-radius: 5px;
    box-shadow: -5px 5px 10px 5px #e7e8e9ae;
    padding: 40px 30px;
}

.container .login-text {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #8d8c8a;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background-color: #f6f6f6;
    outline: none;
    transition: .3s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
    border-color: #52D6F4;
}

.container .login-email .input-group .btn {
    display: block;
    height: 50px;
    width: 200px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    background: #0162ac;
    box-shadow: -5px 3px 0px 0px #0162ac;
    outline: none;
    border-radius: 15px;
    font-size: 1.5rem;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #022f4e;
    box-shadow: -5px 3px 0px 0px #e4ab00;
}

.login-register-text {
    color: rgb(249, 248, 248);
    text-align: center;
    font-weight: 600;
}

.regbtn {
    align-items: center;
    display: block;
    margin-left: 160px;
    height: 30px;
    width: 120px;
    padding: 8px 20px;
    text-align: center;
    border: none;
    background: #0162ac;
    box-shadow: -2px 2px 0px 0px #0162ac;
    outline: none;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

.regbtn a {
    text-decoration: none;
    color: #f6f6f6;
}

.regbtn:hover {
    transform: translateY(-2px);
    background: #022f4e;
    box-shadow: -2px 2px 0px 0px #e4ab00;
}

.signup-form .container .form p {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}