body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .new-row {
    display: -ms-flexbox;
    width: 800px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px auto;
  }
  
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  .new-col-50,
  .mew-col-75 {
    padding: 0 16px;
  }
  
  .new-container {
    box-shadow: 0px 12px 50px 11px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input:focus::placeholder {
    color: transparent;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
 
 
  .new-btn {
    background-color: #52d6f4;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .new-btn:hover {
    background-color: #408697;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }