@charset "UTF-8";



body.payment {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  background-color: #f6f9f6f6;
}

* {
  box-sizing: border-box;
}

/* row - css code for all forms */
.prow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25p {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50p {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75p {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25p,
.col-50p,
.col-75p {
  padding: 0 16px;
}

.containerpay {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

input.payin[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label.payla {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btnpay {
  background-color: #408697;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btnpay:hover {
  background-color: #52D6f4;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}


select.payse {
	
  background-color: transparent;
  border: 1px solid lightgrey;
  padding: 8px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  margin-bottom: 20px;
  border-radius: 3px;
}



/* For mobile users  */
@media (max-width: 800px) {
  .prow {
    flex-direction: column-reverse;
  }
  .col-25p {
    margin-bottom: 20px;
  }
}