@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 400px;
    min-height: 400px;
    background: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 0 5px #363538;
    padding: 40px 30px;
    padding-top: 225px;
    padding-bottom: 250px;
    position: static;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #8d8c8a;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
    border-color: #52D6F4;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #52D6F4;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #f6f6f6;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #408697;
}

.login-register-text {
    color: #111;
    text-align: center;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #52D6F4;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}