@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    /*background-image: linear-gradient(rgba(229, 140, 140, 0.5), rgba(0, 0, 0, .5)), url(bg.jpg);*/
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    height: 650px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #585a5bae;
}

.signup-form form {
    padding: 20px;
    text-align: center;
    width: 700px;
}

.signup-form form .flex {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
}

.signup-form form .flex .inputBox {
    width: 49%;
}

.signup-form form .flex .inputBox span {
    text-align: left;
    cursor: default;
    font: size 0.5em;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: var(--black);
}

.signup-form form .flex .inputBox .box {
    width: 75%;
    border: 2px solid #8d8d8d;
    border-radius: 25px;
    padding: 2px 20px;
    font-size: 15px;
    color: #000000;
    outline: none;
    margin-top: 10px;
    transition: .3s;
}

.signup-form form .flex .inputBox .box:hover {
    border: 2px solid #2db4b4;
}

.signup-form form h3 {
    width: 100%;
}

.signup-form form p {
    font-weight: 600;
    font-size: medium;
}

.btn {
    display: block;
    margin-bottom: 1px;
    height: 50px;
    width: 200px;
    text-align: center;
    border: none;
    background: #41adc5;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #f6f6f6;
    cursor: pointer;
    transition: .3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn:hover {
    transform: translateY(-5px);
    background: #408697;
}

.btn a {
    text-decoration: none;
    color: rgb(234, 228, 228);
}

.btnback {
    display: block;
    margin-bottom: 1px;
    height: 50px;
    width: 100px;
    text-align: center;
    border: none;
    background: #2b7585;
    outline: none;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #f6f6f6;
    cursor: pointer;
    transition: .3s;
}

.btnback:hover {
    transform: translateY(-5px);
    background: #408697;
}

.btnback a {
    text-decoration: none;
    color: rgb(234, 228, 228);
}


/* The message box is shown when the user clicks on the password field */

.pwbox {
    box-shadow: 0px 5px 5px #363538;
    border-radius: 5px;
    background-color: #d4e4e8;
}

#message {
    display: none;
    background-color: rgb(252, 246, 246);
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 13px;
}


/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}


/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

@media (max-width:850px) {
    .signup-form form form .flex {
        flex-wrap: wrap;
        gap: 0;
    }
    .signup-form form .flex .inputBox {
        width: 100%;
    }
}