.saving-container{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin: 32px 0;
    align-items: flex-end;
}

.saving-container .acc-table:hover {
    /*transform: translateY(-2%);*/
    background: linear-gradient(to right,#7fb5ff,#f6f6f6,#4b7be5);
}

.saving-container .acc-table {
    width: 300px;
    background: linear-gradient(to right,#408697,#f6f6f6,#52d6f4);
    border-radius: 24px;
    padding: 18px 0 8px 0;
    margin: 0 16px;
    box-shadow: 0 10px 25px -3px rgba(0,0,0,0.2);
}

.saving-container h3 {
    font-size: 30px;
    font-weight: 900;
    color: #363538;
    text-align: center;
} 

.saving-container p {
    font-size: 18px;
    color: #001219;
    padding: 0 25px;
    line-height: 1;
    margin: 0;
}

.saving-container .features {
    background: #408697;
    border-radius: 24px;
}

.saving-container .features ul {
    list-style: none;
    padding-bottom: 0;
}

.saving-container .features ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 700;
    padding : 16px 35px;
    color: #001219;
    transition: all 500em ease;
}